.sfondo {
  margin: 0px;
  background-image: url(https://static.vecteezy.com/ti/vettori-gratis/p3/16829862-vettore-illustrazione-di-graffiti-sfondo-senza-soluzione-di-continuita-graffiti-arte-textures-nel-un-disegnato-a-mano-stile-vecchio-scuola-e-urbano-strada-arte-tema-per-maglietta-disegno-tessile-sfondo-sfondo-e-stampe-vettoriale.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  font-family: Helvetica;
  text-align: center;
  color: white;
}

p {
  font-size: 17px;
  font-family: Helvetica;
  text-align: center;
  color: white;
}

.riquadro {
  border: 1px solid orange;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.container {
  max-width: 600px;
  margin-top: 60px;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  color: white;
  border-top: 1px solid orange;
  opacity: 90%;
}

.riquadri-gialli {
  border: 3px solid orange;
}

b {
  font-style: italic;
  
}
#td {   
  color: white;
 
}
#tr {   
  color: white;
 
}
#th {   
  color: white;
 
}
